<!-- 
 
Team Name : L & D Interstellar
Project Name : Code Dribble
Started Date : 10-03-2025
Expected End Date : 10-03-2025
Description: this component is used for Impact Training.


-->

<!-- this view is visualize the TN Data -->
<div class="TN-management" *ngIf="!showTraineeList">
    <div class="inner-TNmanagement">
        <h2>Internship</h2>
    </div>
    <div class="inner-TNmanagement">
        <h4>Internship</h4>
    </div>
    <div class="inner-TNmanagement">
        <div class="inner-contents">
            <i class="ph ph-magnifying-glass"></i>
            <form [formGroup]="KeywordForm">
            <input type="text" placeholder="Search by Keyword" formControlName="filterByKeyword" [(ngModel)]="filterByKeyword"/>
            </form>
        </div>
        <div class="inner-contents">
            <div class="inner-functionalites">
                <div class="function-buttons">
                    <button *ngIf="TNData.length < 10"> Employees : 0{{TNData.length}}</button>
                    <button *ngIf="TNData.length > 10"> Employees : {{TNData.length}}</button>
                </div>
                <div class="function-buttons">
                    <button><i class="ph ph-download-simple"></i></button>
                </div>
                <div class="function-buttons">
                    <button (click)=" deleteAllMembers()"><i class="ph ph-trash"></i></button>
                </div>

            </div>
            <div class="inner-functionalites">
                <div class="functionality-buttons">
                    <button (click)="showMember()"><i class="ph ph-plus"></i> Add Employee</button>
                </div>
                <div class="functionality-buttons">
                    <button (click)="showFileUpload()"><i class="ph ph-paperclip"></i> Upload Files</button>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-TNmanagement">
       <table>
        <tr class="table-header">
            <th (click)="clickAllCheckBoxes()"><input type="checkbox" id="parentCheckBox"></th>
            <th class="data">ACE ID <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Name <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Mail ID <i class="ph ph-funnel-simple"></i></th>
            <th class="data">College Name <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Practice <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Date of Joining <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Action <i class="ph ph-funnel-simple"></i></th>
        </tr>
        <!-- <tr class="table-row">
            <td><input type="checkbox"></td>
            <td><input type="text" placeholder="Filter by ACE ID"  [(ngModel)]="filterByACEID"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by First Name" [(ngModel)]="filterByFirstName"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Last Name" [(ngModel)]="filterByLastName"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Designation" [(ngModel)]="filterByDesignation"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Team" [(ngModel)]="filterByTeam"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by ACE ID"> <i class="ph ph-magnifying-glass"></i></td>
        </tr> -->
        <tr *ngIf="TNData.length==0" class="nodata">
            <td> No Data Found</td>
        </tr>
        <div class="scroll-content">
        <tr class="table-data" *ngFor="let data of TNData;let i=index">
            <td><input type="checkbox" [id]="'checkbox'+i"></td>
            <td class="data" title="{{data.ACE_ID}}"  (click)="showTraineeDetails(i)">{{data.ACE_ID}}</td>
            <td class="data" title="{{data.NAME}}">{{data.NAME}}</td>
            <td class="data" title="{{data.Mail_Id}}">{{data.Mail_Id}}</td>
            <td class="data" title="{{data.College}}">{{data.College}}</td>
            <td class="data" title="{{data.Practice}}">{{data.Practice}}</td>
            <td class="data" title="{{data.Date_of_Joining}}">{{data.Date_of_Joining | excelDatePipe}}</td>
            <td class="data">
                <button (click)="editMember(i)"><i class="ph ph-pencil-simple"></i></button>
                <button (click)="deleteMember(i)"><i class="ph ph-trash"></i></button>
            </td>
        </tr>
    </div>
        
       </table>
    </div>
</div>

<!-- this visualize the ADD Member Form -->
<div class="Member-Management" *ngIf="showMemberManagement">
    <div class="inner-Membermanagement">
        <form [formGroup]="memberForm">
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <h2>Add Employee</h2>
                </div>
                <div class="inner-formcontrols" (click)="showMember()">
                    <i class="ph ph-x"></i>
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="ACE ID" formControlName="ACE_ID" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="First Name" formControlName="First_Name" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Last Name" formControlName="Last_Name" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Designation" formControlName="Designation" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Team" formControlName="Team" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Practice" formControlName="Practice" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols"><button (click)="clearForm()"><i class="ph ph-prohibit"></i> Cancel</button></div>
                <div class="inner-formcontrols"><button [disabled]="!memberForm.valid" (click)="addMember(memberForm.value)"><i class="ph ph-plus"></i> Add</button></div>
            </div>

        </form>
    </div>
</div>

<!-- this visualize the Upload File Form -->
<div class="Member-Management" *ngIf="showUploadFile">
    <div class="inner-Membermanagement">
        <form [formGroup]="uploadForm">
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <h2>Upload File</h2>
                </div>
                <div class="inner-formcontrols" (click)="showFileUpload()">
                    <i class="ph ph-x"></i>
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols fileUpload">
                    <input type="file" placeholder="Excel File" formControlName="fileUpload" (change)="onFileChange($event)" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols"><button (click)="clearForm()"><i class="ph ph-prohibit"></i> Cancel</button></div>
                <div class="inner-formcontrols"><button [disabled]="!uploadForm.valid" (click)="uploadFile()">Submit</button></div>
            </div>

        </form>
    </div>
</div>

<!-- this visualize the Edit Member Form -->
<div class="Member-Management" *ngIf="showEditMember">
    <div class="inner-Membermanagement">
        <form [formGroup]="editMemberForm">
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <h2>Edit Employee</h2>
                </div>
                <div class="inner-formcontrols" (click)="showEdit()">
                    <i class="ph ph-x"></i>
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="ACE ID" formControlName="ACE_ID" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="First Name" formControlName="First_Name" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Mail_ID" formControlName="Mail_ID" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="College_Name" formControlName="College_Name" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Practice" formControlName="Practice" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="DOJ" formControlName="DOJ" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols"><button (click)="clearForm()"><i class="ph ph-prohibit"></i> Cancel</button></div>
                <div class="inner-formcontrols"><button [disabled]="!editMemberForm.valid" (click)="EditedMemberDetails(editMemberForm.value)"> Submit</button></div>
            </div>

        </form>
    </div>
</div>

<!-- this visualize the individual Trainee Details-->
<div class="showTraineeDetails" *ngIf="showTraineeList">
    <div class="inner-TraineeDetails">
        <div class="inner-TNmanagement">
            <h2>Impact Trainee</h2>
        </div>
        <div class="inner-TNmanagement">
            <button (click)="showTraineeDetails(-1)"><i class="ph ph-rewind"></i>Back</button>
        </div>
    </div>
    <div class="inner-TraineeDetails">
        <div class="TraineeDetails">
                <img src="./assets/Dashboard/DashboardProfile.svg" alt="profileImage">
        </div>
    <div class="TraineeDetails">
        <table>
            <div class="scroll-content-2">
            <tr>
                <td>
                    <label for="">ACE ID</label>
                    <p>{{traineeDetail.ACE_ID}}</p>
                </td>
                <td>
                    <label for="">Name</label>
                    <p>{{traineeDetail.NAME}}</p>
                </td>
                <td>
                    <label for="">professional Mail ID</label>
                    <p>{{traineeDetail.Mail_Id}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Department</label>
                    <p>{{traineeDetail.Department}}</p>
                </td>
                <td>
                    <label for="">Date of joining</label>
                    <p>{{traineeDetail.Date_of_Joining | excelDatePipe}}</p>
                </td>
                <td>
                    <label for="">personal Mail ID</label>
                    <p>{{traineeDetail.Personal_Email_id}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">location</label>
                    <p>{{traineeDetail.Location}}</p>
                </td>
                <td>
                    <label for="">contact number</label>
                    <p>{{traineeDetail.Contact_Num}}</p>
                </td>
                <td>
                    <label for="">college Name</label>
                    <p>{{traineeDetail.College}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Gender</label>
                    <p>{{traineeDetail.Gender}}</p>
                </td>
                <td>
                    <label for="">TN HR Partner</label>
                    <p>{{traineeDetail.TN_HR_Partner}}</p>
                </td>
                <td>
                    <label for="">Qualification</label>
                    <p>{{traineeDetail.Qualification}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Designation</label>
                    <p>{{traineeDetail.Designation}}</p>
                </td>
                <td>
                    <label for="">Track</label>
                    <p>{{traineeDetail.Track}}</p>
                </td>
                <td>
                    <label for="">COE/Campus/Off Campus</label>
                    <p>{{traineeDetail.COE_Campus_Off_Campus}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Practice</label>
                    <p>{{traineeDetail.Practice}}</p>
                </td>
                <td>
                    <label for="">Sub Practice</label>
                    <p>{{traineeDetail.Sub_Practice}}</p>
                </td>
                <td>
                    <label for="">Active/Exit</label>
                    <p>{{traineeDetail.Active_Exit}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Practice IDM</label>
                    <p>{{traineeDetail.Practice_IDM}}</p>
                </td>
                <td>
                    <label for="">Movement Initiated</label>
                    <p>{{traineeDetail.Movement_Initiated}}</p>
                </td>
                <td>
                    <label for="">Date of Movement</label>
                    <p>{{traineeDetail.Date_of_Movement | excelDatePipe}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Technology</label>
                    <p>{{traineeDetail.Technology}}</p>
                </td>
                <td>
                    <label for="">TN Review Score</label>
                    <p>{{traineeDetail.TN_Review_Score}}</p>
                </td>
                <td>
                    <label for="">TN Review Conducted</label>
                    <p>{{traineeDetail.TN_Review_Conducted}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">TN Review Feedback</label>
                    <p>{{traineeDetail.TN_Review_Feedback}}</p>
                </td>
                <td>
                    <label for="">Follow Up TN Review</label>
                    <p>{{traineeDetail.Follow_Up_TN_Review}}</p>
                </td>
                <td>
                    <label for="">Follow Up TN Feedback</label>
                    <p>{{traineeDetail.Follow_Up_TN_Feedback}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">SL Review Conducted</label>
                    <p>{{traineeDetail.SL_Review_Conducted}}</p>
                </td>
                <td>
                    <label for="">SL Review Score</label>
                    <p>{{traineeDetail.SL_Review_Score}}</p>
                </td>
                <td>
                    <label for="">SL Review Feedback</label>
                    <p>{{traineeDetail.SL_Review_Feedback}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">No Of Days in TN</label>
                    <p>{{traineeDetail.No_of_days_in_TN}}</p>
                </td>
                <td>
                    <label for="">Resignation Type</label>
                    <p>{{traineeDetail.Resignation_Type}}</p>
                </td>
                <td>
                    <label for="">Reason For Exit</label>
                    <p>{{traineeDetail.Reason_for_Exit}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Releiving Date</label>
                    <p>{{traineeDetail.Releiving_Date | excelDatePipe}}</p>
                </td>
                <td>
                    <label for="">Project Name</label>
                    <p>{{traineeDetail.Project_Name}}</p>
                </td>
                <td>
                    <label for="">Moved Date</label>
                    <p>{{traineeDetail.Moved_Date | excelDatePipe}}</p>
                </td>
            </tr>
        </div>
        </table>
    </div>
    </div>
</div>


