:host{
    --primary-color: #ffff;
    --secondary-color: #9C6FE4;
    --tertiary-color:#757575;
    --font-color: #1E1F24;
    --header-color: #FAF8FE;
}

.TN-management{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}
.inner-TNmanagement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.inner-TNmanagement h2{
    font-size: 1.8vw;
    font-weight: 500;
}
.inner-TNmanagement h4{
    font-size: 1vw;
    color: var(--secondary-color);
    font-weight: 400;
}

.inner-TNmanagement input{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.inner-TNmanagement:nth-child(3) .inner-contents:nth-child(1) {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.ph-magnifying-glass{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    font-size: 1.6vw;
    justify-content: center;
    align-items: center;
}

.inner-contents{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inner-functionalites{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.function-buttons button{
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.3vw;
}
.function-buttons button:hover{

    background-color: var(--secondary-color);
    color: var(--primary-color);

}

.functionality-buttons button{
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.functionality-buttons:nth-child(1) button{
background-color: var(--secondary-color);
color: var(--primary-color);
}
.functionality-buttons:nth-child(2) button{
background-color: var(--primary-color);
color: var(--secondary-color);
border: 1px solid var(--secondary-color);
}


.inner-TNmanagement:nth-child(4){
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 15px 10px 15px;
}

.inner-TNmanagement:nth-child(4) .inner-contents{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    
}


table{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 960px;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 0px 10px 0px;
}

.table-data input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.table-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    height: 30px;
    align-items: center;
}


.table-header input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.table-row input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
    visibility: hidden;
}

.table-row td:nth-child(7){
    visibility: hidden;
}


tr td{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 30px;
    font-size: 1vw;
    text-align: left;
    text-transform: capitalize;
}
.data{
    width: 120px;
}

td:nth-child(2){
    color: var(--secondary-color);
}
tr input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
tr th{
    color: var(--font-color);
    font-size: 1vw;
    display: flex;
    gap: 10px;
}

table td input{
    border: 1px solid var(--tertiary-color);
    width: 140px;
    height: 27px;
    border-radius: 3px;
    padding-left: 3px;
    font-size: 0.8vw;
}

table .ph-magnifying-glass{
    position: absolute;
    background-color: transparent;
    right: 6px;
    top: 6px;
    font-size: 1.2vw;
}

.bottom-align{
    margin-top: 4px;
}

td button{
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    font-size: 1.4vw;
}
.table-data{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.data:nth-child(8){
    justify-content: center;
}

.table-data:hover{
    background-color: var(--header-color);
    cursor: pointer;
}

.scroll-content{
    height: 250px;
    overflow-y: scroll;
}

.scroll-content::-webkit-scrollbar{
    width: 5px;
}

.scroll-content::-webkit-scrollbar-track{
    background-color: var(--primary-color);
}

.scroll-content::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.Member-Management{
    position:absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-Membermanagement{
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.formcontrols h2{
    font-size: 1.3vw;
    font-weight: 500;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formcontrols{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.formcontrols input{
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--tertiary-color);
    padding-left: 10px;
    text-transform: capitalize;
}

.inner-formcontrols button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    font-size: 1.2vw;
}
.inner-formcontrols:nth-child(2) button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.ph-x{
    font-size: 1.4vw;
    cursor: pointer;
}
.fileUpload input{
    border: none;
}

.nodata{
    display: flex;
    justify-content: center;
}
