<!-- 
 
Team Name : L & D Interstellar
Project Name : Code Dribble
Started Date : 10-03-2025
Expected End Date : 10-03-2025
Description: this component is used for Talent Nuturing Management Purpose.


-->

<!-- this view is visualize the TN Data -->
<div class="TN-management">
    <div class="inner-TNmanagement">
        <h2>TN Management</h2>
    </div>
    <div class="inner-TNmanagement">
        <h4>TN Management</h4>
    </div>
    <div class="inner-TNmanagement">
        <div class="inner-contents">
            <i class="ph ph-magnifying-glass"></i>
            <input type="text" placeholder="Search by Keyword" />
        </div>
        <div class="inner-contents">
            <div class="inner-functionalites">
                <div class="function-buttons">
                    <!-- <button><i class="ph ph-share-fat"></i></button> -->
                    <button><i class="ph ph-share"></i></button>
                </div>
                <div class="function-buttons">
                    <button><i class="ph ph-printer"></i></button>
                </div>
                <div class="function-buttons">
                    <button><i class="ph ph-download-simple"></i></button>
                </div>
                <div class="function-buttons">
                    <button><i class="ph ph-trash"></i></button>
                </div>
                <div class="function-buttons">
                    <button></button>
                </div>
            </div>
            <div class="inner-functionalites">
                <div class="functionality-buttons">
                    <button><i class="ph ph-plus"></i> Add Member</button>
                </div>
                <div class="functionality-buttons">
                    <button><i class="ph ph-paperclip"></i> Upload Files</button>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-TNmanagement">
       <table>
        <tr class="table-header">
            <th><input type="checkbox"></th>
            <th class="data">ACE ID <i class="ph ph-funnel-simple"></i></th>
            <th class="data">First Name <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Last Name <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Designation <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Team <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Action <i class="ph ph-funnel-simple"></i></th>
        </tr>
        <tr class="table-row">
            <td><input type="checkbox"></td>
            <td><input type="text" placeholder="Filter by ACE ID"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by First Name"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Last Name"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Designation"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Team"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by ACE ID"> <i class="ph ph-magnifying-glass"></i></td>
        </tr>
        <tr class="table-data" *ngFor="let data of TNData;let i=index">
            <td><input type="checkbox"></td>
            <td class="data">{{data.ACE_ID}}</td>
            <td class="data">{{data.First_Name}}</td>
            <td class="data">{{data.Last_Name}}</td>
            <td class="data">{{data.Designation}}</td>
            <td class="data">{{data.Team}}</td>
            <td class="data">
                <button><i class="ph ph-pencil-simple"></i></button>
                <button><i class="ph ph-trash"></i></button>
            </td>
        </tr>
        
       </table>
    </div>
</div>




