<!-- 
 
Team Name : L & D Interstellar
Project Name : Code Dribble
Started Date : 10-03-2025
Expected End Date : 10-03-2025
Description: this component is used for Talent Nuturing Management Purpose.


-->

<!-- this view is visualize the TN Data -->
<div class="TN-management">
    <div class="inner-TNmanagement">
        <h2>TN Management</h2>
    </div>
    <div class="inner-TNmanagement">
        <h4>TN Management</h4>
    </div>
    <div class="inner-TNmanagement">
        <div class="inner-contents">
            <i class="ph ph-magnifying-glass"></i>
            <form [formGroup]="KeywordForm">
            <input type="text" placeholder="Search by Keyword" formControlName="filterByKeyword" [(ngModel)]="filterByKeyword"/>
            </form>
        </div>
        <div class="inner-contents">
            <div class="inner-functionalites">
                <div class="function-buttons">
                    <button *ngIf="TNData.length < 10"> Employees : 0{{TNData.length}}</button>
                    <button *ngIf="TNData.length > 10"> Employees : {{TNData.length}}</button>
                </div>
                <div class="function-buttons">
                    <button><i class="ph ph-download-simple"></i></button>
                </div>
                <div class="function-buttons">
                    <button (click)=" deleteAllMembers()"><i class="ph ph-trash"></i></button>
                </div>

            </div>
            <div class="inner-functionalites">
                <div class="functionality-buttons">
                    <button (click)="showMember()"><i class="ph ph-plus"></i> Add Member</button>
                </div>
                <div class="functionality-buttons">
                    <button (click)="showFileUpload()"><i class="ph ph-paperclip"></i> Upload Files</button>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-TNmanagement">
       <table>
        <tr class="table-header">
            <th (click)="clickAllCheckBoxes()"><input type="checkbox" id="parentCheckBox"></th>
            <th class="data">ACE ID <i class="ph ph-funnel-simple"></i></th>
            <th class="data">First Name <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Last Name <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Designation <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Team <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Practice <i class="ph ph-funnel-simple"></i></th>
            <th class="data">Action <i class="ph ph-funnel-simple"></i></th>
        </tr>
        <!-- <tr class="table-row">
            <td><input type="checkbox"></td>
            <td><input type="text" placeholder="Filter by ACE ID"  [(ngModel)]="filterByACEID"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by First Name" [(ngModel)]="filterByFirstName"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Last Name" [(ngModel)]="filterByLastName"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Designation" [(ngModel)]="filterByDesignation"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by Team" [(ngModel)]="filterByTeam"> <i class="ph ph-magnifying-glass"></i></td>
            <td><input type="text" placeholder="Filter by ACE ID"> <i class="ph ph-magnifying-glass"></i></td>
        </tr> -->
        <tr *ngIf="TNData.length==0" class="nodata">
            <td> No Data Found</td>
        </tr>
        <div class="scroll-content">
        <tr class="table-data" *ngFor="let data of TNData;let i=index">
            <td><input type="checkbox" [id]="'checkbox'+i"></td>
            <td class="data">{{data.ACE_ID}}</td>
            <td class="data">{{data.First_Name}}</td>
            <td class="data">{{data.Last_Name}}</td>
            <td class="data">{{data.Designation}}</td>
            <td class="data">{{data.Team}}</td>
            <td class="data">{{data.Practice}}</td>
            <td class="data">
                <button (click)="editMember(i)"><i class="ph ph-pencil-simple"></i></button>
                <button (click)="deleteMember(i)"><i class="ph ph-trash"></i></button>
            </td>
        </tr>
    </div>
        
       </table>
    </div>
</div>

<!-- this visualize the ADD Member Form -->
<div class="Member-Management" *ngIf="showMemberManagement">
    <div class="inner-Membermanagement">
        <form [formGroup]="memberForm">
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <h2>Add Member</h2>
                </div>
                <div class="inner-formcontrols" (click)="showMember()">
                    <i class="ph ph-x"></i>
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="ACE ID" formControlName="ACE_ID" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="First Name" formControlName="First_Name" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Last Name" formControlName="Last_Name" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Designation" formControlName="Designation" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Team" formControlName="Team" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Practice" formControlName="Practice" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols"><button (click)="clearForm()"><i class="ph ph-prohibit"></i> Cancel</button></div>
                <div class="inner-formcontrols"><button [disabled]="!memberForm.valid" (click)="addMember(memberForm.value)"><i class="ph ph-plus"></i> Add</button></div>
            </div>

        </form>
    </div>
</div>

<!-- this visualize the Upload File Form -->
<div class="Member-Management" *ngIf="showUploadFile">
    <div class="inner-Membermanagement">
        <form [formGroup]="uploadForm">
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <h2>Upload File</h2>
                </div>
                <div class="inner-formcontrols" (click)="showFileUpload()">
                    <i class="ph ph-x"></i>
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols fileUpload">
                    <input type="file" placeholder="Excel File" formControlName="fileUpload" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols"><button (click)="clearForm()"><i class="ph ph-prohibit"></i> Cancel</button></div>
                <div class="inner-formcontrols"><button [disabled]="!memberForm.valid"><i class="ph ph-plus"></i> Upload</button></div>
            </div>

        </form>
    </div>
</div>

<!-- this visualize the Edit Member Form -->
<div class="Member-Management" *ngIf="showEditMember">
    <div class="inner-Membermanagement">
        <form [formGroup]="editMemberForm">
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <h2>Add Member</h2>
                </div>
                <div class="inner-formcontrols" (click)="showEdit()">
                    <i class="ph ph-x"></i>
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="ACE ID" formControlName="ACE_ID" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="First Name" formControlName="First_Name" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Last Name" formControlName="Last_Name" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Designation" formControlName="Designation" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Team" formControlName="Team" />
                </div>
                <div class="inner-formcontrols">
                    <input type="text" placeholder="Practice" formControlName="Practice" />
                </div>
            </div>
            <div class="formcontrols">
                <div class="inner-formcontrols"><button (click)="clearForm()"><i class="ph ph-prohibit"></i> Cancel</button></div>
                <div class="inner-formcontrols"><button [disabled]="!editMemberForm.valid" (click)="EditedMemberDetails(editMemberForm.value)"><i class="ph ph-plus"></i> Submit</button></div>
            </div>

        </form>
    </div>
</div>




