<!-- 
 
Author Name : Manikandan Obulisamy
Project Name : Code Dribble
Started Date : 26-02-2025
Expected End Date : 27-02-2025
Description: this component is used for Login Purpose.


-->


<!-- this is the outer block for the Login Page -->
 <div class="Login-Page">
    <div class="inner-Login-Page"></div>
    <div class="inner-Login-Page">
        <div class="Login-Form">
            <img src="./assets/Login/Login-SideImage.svg" alt="login-sideImage">
        </div>
        <div class="Login-Form">
            <div class="form-controls form-flex">
                <img src="./assets/Login/Login-FormLogo.svg" alt="Aspire Logo">
            </div>
            <form action="">
            <div class="form-controls">
                <div class="inner-form-controls">
                    <label for="">Email or ACE ID <span>*</span></label>
                </div>
                <div class="inner-form-controls">
                    <input type="text" placeholder="Enter your Email or ACE ID">
                </div>
                <div class="inner-form-controls">
                    <small></small>
                </div>
            </div>
            <div class="form-controls">
                <div class="inner-form-controls">
                    <label for="">Password <span>*</span></label>
                </div>
                <div class="inner-form-controls">
                    <input type="password" placeholder="Enter your Password">
                </div>
                <div class="inner-form-controls">
                    <small></small>
                </div>
            </div>
            <div class="form-controls form-flex">
                <button class="login-button">LOGIN</button>
            </div>
            <div class="form-controls form-flex">
                <small>or</small>
            </div>
            <div class="form-controls">
                
                <button class="micro-logo"><img src="./assets/Login/Login-FormMicrosoftLogo.svg" alt="Microsoft-logo" style="width: 22px;"> Continue With Microsoft Account</button>
            </div>
        </form>
        </div>
    </div>
 </div>
